<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@8EJ3">
    <meta name="twitter:title" content="PHANG">
    <meta name="twitter:description" content="PHP and AngularJS Apps Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">
    <meta name="twitter:creator" content="@8EJ3">
    <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846">
    <meta property="og:title" content="PHANG" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://phang.erikaugust.com" />
    <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
    <meta property="og:description" content="PHP and AngularJS Apps Made Easy: Everything you need to kickstart AngularJS projects: a best-practice directory structure, an intelligent build system, and the best web design libraries around.">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

  </head>
  <body>
    <div class="container">
      <div class="masthead">
        <h3 class="muted">PHANG <small><a
              href="http://github.com/ErikAugust/phang">v<%= version %></a></small></h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li ui-sref="home" ng-class="{active:$state.includes('home')}">
                  <a href="#/home">
                    <i class="icon-home"></i>
                    Home
                  </a>
                </li>
                <li>
                  <a href="https://github.com/ErikAugust/phang#readme">
                    <i class="icon-book"></i>
                    Read the Docs
                  </a>
                </li>
                <li>
                  <a href="https://github.com/ErikAugust/phang">
                    <i class="icon-github-alt"></i>
                    Github
                  </a>
                </li>
                <li>
                  <a href="https://github.com/ErikAugust/phang/issues">
                    <i class="icon-comments"></i>
                    Support
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <ul class="social">
            <li><a target="_blank" href="http://twitter.com/8EJ3"><i class="icon-twitter-sign"></i></a></li>
            <li><a target="_blank" href="http://linkedin.com/in/erikjohnson12"><i class="icon-linkedin-sign"></i></a></li>
            <li><a target="_blank" href="http://github.com/ErikAugust/phang"><i class="icon-github-sign"></i></a></li>
          </ul>
          
          <p>
            (c) 2014 Erik August Johnson. 
            <a href="http://github.com/ErikAugust/phang/fork_select">Fork this</a>
            to kickstart your next project.
            <br />
            PHANG is based on
			<a href="http://github.com/joshdmiller/ng-boilerplate">ng-boilerplate</a>,
			<a href="">Silex</a>,
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>

