# Compresses Text, HTML, Javascript, CSS & XML:
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript


<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    ##RewriteBase /web
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ app.php [QSA,L]
</IfModule>
